<form action='/results'>
  <div class="jumbotron">
    <div class="form-group">
      <label for="prompt">
        <h1>What shall we encrypt for you?</h1>
      </label>
      <p><input id="userinput" name="userinput" class="form-control" type="text"></p>
      <p><button type="submit" class="btn btn-danger btn-lg">Make me a word puzzle!</button></p>
    </div>
  </div>
</form>
